---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
SeparateDefinitionBlocks: Always
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
DerivePointerAlignment: false
SpacesBeforeTrailingComments: 2
EmptyLineBeforeAccessModifier: LogicalBlock
AlignAfterOpenBracket: BlockIndent
PackConstructorInitializers: NextLine
BreakConstructorInitializers: BeforeColon
